language: php

php:
  - 5.2
  - 5.3
  - 5.4
  - 5.5

script:
 - phpunit --strict --verbose --coverage-clover build/logs/clover.xml

after_script:
 - ./.travis.coveralls.sh

notifications:
  email: false
